.material-symbols-outlined {
  font-size: 1.2rem !important;
}

.material-symbols-rounded {
  font-size: 1.2rem !important;
}

.nav-item-tdp .material-symbols-outlined {
  font-size: 1.2rem !important;
}

.nav-item-tdp .material-symbols-rounded {
  font-size: 1.2rem !important;
}