@import "../../theme/theme";

.sidebar {
  font-size: 0.9rem !important;
  font-weight: 600;
}

li.nav-item.menu-open {
  > .nav-link {
    background: $gray-100;
  }
  ul.nav-treeview {
    background: $white;
    color: $gray-500;
  }
}

.nav-item-tdp {
  display: flex;
  align-items: center;

  span[class^="material"], em[class^="material"] {
    margin-right: 0.35rem !important;
    margin-left: 0.2rem !important;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: $primary;
  background-color: rgba($color: $primary, $alpha: 0.2);
}